<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class=contacts-container>
    <div class="total">There are <span class="total-num"><%=@num_contacts%></span> contacts</div>
    <ul>
      <% Contact.all.each do |contact| %>
        <li class="contact-style"><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>) <br>
           <span class="contact-options"> <a href="/contacts/<%= contact.id%>/">Edit</a> | <a href="#">Delete</a> </li>
      <% end %>
    </ul>
  </div>
  </body>
</html>
